@charset "UTF-8";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
}

@media screen and (max-width: 767px) {
  body {
    padding-top: 60px;
  }
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
  }
}

.logo-accent-color {
  color: #2196F3;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  margin-top: 0px;
  margin-bottom: 20px;
  display: inline-block;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.38;
  letter-spacing: 0.03em;
  color: #000000;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .header-logo {
    margin-right: 88px;
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .header-logo {
    font-size: 26px;
    line-height: 1.192;
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.button {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: #2196F3;
  height: 50px;
  min-width: 200px;
  border-radius: 4px;
  padding: 10px 30px;
  border: none;
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu-button:hover, .menu-button:active {
  fill: #2196F3;
}

.menu-button .header-icon-close {
  display: none;
}

.menu-button.is-open .header-icon-close {
  display: block;
}

.menu-button.is-open .header-icon-menu {
  display: none;
}

.portfolio-filter-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.162;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  background-color: #F5F4FA;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  display: inline-block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-filter-button:hover, .portfolio-filter-button:focus {
  color: #FFFFFF;
  background-color: #2196F3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 500ms ease-out 250ms;
  padding: 93px 15px;
  overflow-y: scroll;
  /*уход backdrop*/
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 500ms ease-in 250ms;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 450px;
  height: 609px;
  padding: 40px;
  background-color: #FFFFFF;
  transition: all 500ms ease-in-out 250ms;
  /*уход modal*/
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
  transition: all 500ms ease-in-out 250ms;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  box-sizing: border-box;
}

.modal-close-btn:hover, .modal-close-btn:focus {
  outline: none;
  fill: #2196F3;
}

.modal-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  margin-bottom: 12px;
}

.modal-wrapper {
  display: flex;
  flex-direction: column;
}

.modal-label {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-input-wrapper {
  display: block;
  position: relative;
  margin-top: 4px;
}

.modal-input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 11px 12px 11px 42px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  outline: none;
  border: 1px solid #2196F3;
}

.modal-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.modal-input:focus + .modal-icon {
  fill: #2196F3;
}

.modal-comment-input {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 20px;
  margin-top: 4px;
  padding: 12px 16px;
  resize: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment-input:focus {
  outline: none;
  border: 1px solid #2196F3;
}

.modal-comment-input::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-policy-checkbox {
  margin-right: 7px;
}

.modal-policy-message {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: #757575;
}

.modal-policy-message::before {
  content: "";
  display: inline-flex;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  fill: #212121;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/modal/checkbox.svg);
}

.modal-policy-checkbox:checked + .modal-policy-message::before {
  background-image: url(../images/modal/checkbox-active.svg);
}

.modal-policy-link {
  color: #2196F3;
}

.modal-send-btn {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin: 30px auto 0 auto;
  align-self: center;
}

@media screen and (min-width: 1200px) {
  .backdrop {
    padding: 221px 536px;
  }
  .modal {
    height: 581px;
    width: 528px;
  }
  .modal-policy-message {
    font-size: 14px;
    line-height: 1.714;
  }
}

.header {
  border-bottom: 1px solid #ECECEC;
  box-sizing: border-box;
  background-color: #FFFFFF;
  width: 100%;
}

.header-mobile-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
}

.header-mobile-menu {
  padding: 60px 0;
  background-color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.172;
  letter-spacing: 0.02em;
  color: #212121;
  text-align: center;
}

.navigation {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.navigation-list {
  display: block;
  margin-bottom: 60px;
}

.navigation-list-item .current {
  position: relative;
  color: #2196F3;
}

.navigation-list-item .current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #2196F3;
}

.navigation-list-item:not(:last-child) {
  margin-bottom: 40px;
}

.navigation-list-link {
  display: inline-block;
  padding-bottom: 9px;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list-link:hover, .navigation-list-link:focus {
  color: #2196F3;
  fill: #2196F3;
}

.header-mail-tel-list {
  display: block;
  text-align: center;
}

.header-mail-tel-list-item:not(:last-child) {
  margin-bottom: 16px;
}

.header-mail-tel-link {
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-mail-tel-link:hover, .header-mail-tel-link:focus {
  color: #2196F3;
  fill: #2196F3;
}

.header-mail-tel-link-icon {
  margin-right: 10px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-mail-tel-link:hover .header-mail-tel-link-icon,
.header-mail-tel-link:focus .header-mail-tel-link-icon {
  color: #2196F3;
  fill: #2196F3;
}

@media screen and (max-width: 767px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
  }
  .header-mobile-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }
  .header-mobile-menu.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
  .header-container {
    display: flex;
  }
  .header-mobile-menu {
    display: flex;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    color: #212121;
  }
  .header-mobile-navigation {
    justify-content: start;
  }
  .navigation {
    display: flex;
    align-items: center;
    margin-right: 84px;
  }
  .navigation-list {
    display: flex;
    margin: 0;
  }
  .navigation-list-item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 48px;
  }
  .navigation-list-link {
    display: block;
    font-size: 14px;
    line-height: 1.143;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .header-mail-tel-list {
    margin: auto 0;
    text-align: start;
  }
  .header-mail-tel-list-item:not(:last-child) {
    margin-bottom: 10px;
  }
  .header-mail-tel-link {
    font-size: 12px;
    line-height: 1.167;
  }
}

@media screen and (min-width: 1200px) {
  .navigation {
    margin: 0 305px 0 0;
  }
  .header-mail-tel-list {
    display: flex;
    align-items: center;
    margin: 0;
  }
  .header-mail-tel-list-item:first-child {
    margin-right: 30px;
    margin-bottom: 0;
  }
  .header-mail-tel-link {
    font-size: 14px;
    line-height: 1.143;
  }
}

.hero {
  padding: 118px 60px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}

.hero-title {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .hero {
    background-size: cover;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-mobile.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    padding: 118px 204px;
    background-size: 768px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-tablet.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero/hero-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-size: 1600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-desktop.jpg);
  }
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-desktop@2x.jpg);
  }
}

.our-features {
  padding: 60px 15px;
}

.our-features-list-item {
  width: 100%;
}

.our-features-list-item:not(:last-child) {
  margin-bottom: 30px;
}

.our-features-list-item::before {
  content: "";
  display: block;
  margin-bottom: 30px;
  height: 120px;
  border-radius: 4px;
  background-color: #F5F4FA;
  background-repeat: no-repeat;
  background-position: center;
}

.our-features-list-item:nth-child(1)::before {
  background-image: url(../images/our-features/features-1-antenna.svg);
}

.our-features-list-item:nth-child(2)::before {
  background-image: url(../images/our-features/features-2-clock.svg);
}

.our-features-list-item:nth-child(3)::before {
  background-image: url(../images/our-features/features-3-diagram.svg);
}

.our-features-list-item:nth-child(4)::before {
  background-image: url(../images/our-features/features-4-astronaut.svg);
}

.our-features-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.our-features-description {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-features-list {
    display: flex;
    flex-wrap: wrap;
  }
  .our-features-list-item {
    width: calc((100% - 30px) / 2);
  }
  .our-features-list-item:not(:nth-child(2)) {
    margin-bottom: 30px;
  }
  .our-features-list-item:nth-child(odd) {
    margin-right: 30px;
  }
  .our-features-title {
    text-align: start;
  }
}

@media screen and (min-width: 1200px) {
  .our-features {
    padding-top: 94px;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .our-features-title {
    text-align: start;
  }
  .our-features-list-item {
    display: inline-block;
    width: calc((100% - 3 * 30px) / 4);
  }
  .our-features-list-item:not(:last-child) {
    margin-right: 26px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 1199px) {
  .what-we-are-doing {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .what-we-are-doing {
    padding: 94px 0;
  }
  .what-we-are-doing-list {
    display: flex;
  }
  .what-we-are-doing-list-item:not(:last-child) {
    margin-right: 30px;
  }
  .what-we-are-doing-img-wrapper {
    position: relative;
  }
  .what-we-are-doing-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding-top: 27px;
    padding-bottom: 27px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    background: rgba(47, 48, 58, 0.8);
  }
}

.our-team {
  display: block;
  padding: 60px 15px;
  text-align: center;
  background-color: #F5F4FA;
}

.our-team-list-item {
  width: 100%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #FFFFFF;
}

.our-team-list-item:not(:last-child) {
  margin-bottom: 30px;
}

.our-team-img {
  width: 100%;
}

.our-team-description-container {
  padding: 30px 0 24px 0;
}

.our-team-name {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}

.our-team-position {
  margin-bottom: 16px;
  color: #757575;
}

.our-team-social-list {
  display: flex;
  justify-content: space-between;
  width: 206px;
  margin: 0 auto;
}

.our-team-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team-social-link:hover, .our-team-social-link:focus {
  background-color: #2196F3;
  outline: none;
}

.our-team-social-icon {
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team-social-link:hover .our-team-social-icon,
.our-team-social-link:focus .our-team-social-icon {
  fill: #FFFFFF;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-team-list {
    display: flex;
    flex-wrap: wrap;
  }
  .our-team-list-item {
    width: calc((100% - 30px) / 2);
  }
  .our-team-list-item:not(:nth-child(2)) {
    margin-bottom: 30px;
  }
  .our-team-list-item:nth-child(odd) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .our-team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .our-team-list-item {
    display: inline-block;
    width: calc((100% - 3 * 30px) / 4);
  }
  .our-team-list-item:not(:last-child) {
    margin-right: 25px;
  }
}

.our-clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

.our-clients-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.our-clients-list-item {
  width: calc((100% - 60px) / 2);
  margin: 15px;
}

.our-clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #AFB1B8;
  height: 90px;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-clients-link:hover, .our-clients-link:focus {
  border-color: #2196F3;
}

.our-clients-icon {
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-clients-link:hover .our-clients-icon,
.our-clients-link:focus .our-clients-icon {
  fill: #2196F3;
}

@media screen and (min-width: 768px) {
  .our-clients-list-item {
    width: calc((100% - 90px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .our-clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .our-clients-list {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.footer-address-container, .footer-social-container {
  margin: 0 auto 60px auto;
}

.footer-address-link, .footer-mail-tel-link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  font-style: normal;
  margin-bottom: 9px;
  display: inline-block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address-link:hover, .footer-address-link:focus, .footer-mail-tel-link:hover, .footer-mail-tel-link:focus {
  color: #2196F3;
  outline: none;
}

.footer-mail-tel-link {
  color: rgba(255, 255, 255, 0.6);
}

.footer-subtitle {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.footer-social-list {
  display: flex;
  justify-content: space-between;
  width: 206px;
  margin: 0 auto;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover, .footer-social-link:focus {
  background-color: #2196F3;
  outline: none;
}

.footer-social-icon {
  fill: #FFFFFF;
}

.footer-subscription-form-email {
  width: 450px;
  height: 50px;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: transparent;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscription-form-email:hover, .footer-subscription-form-email:focus {
  outline: none;
  border: 1px solid #2196F3;
  background-color: transparent;
}

.footer-subscription-form-button {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.footer-subscription-form-button-icon {
  margin-left: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-address-social-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    margin-bottom: 60px;
  }
  .footer-address-container, .footer-social-container {
    margin: 0;
  }
  .footer-subscribtion-container {
    width: 450px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    align-items: baseline;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer-address-social-wrapper {
    width: 507px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .footer-address-container, .footer-social-container {
    margin: 0;
  }
  .footer-address-container, .footer-subtitle {
    text-align: start;
  }
  .footer-subscribtion-form {
    display: flex;
  }
  .footer-subscription-form-email {
    width: 358px;
    margin-right: 12px;
  }
}
/*# sourceMappingURL=main.css.map */