*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

body {
    font-family: $main-font;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

img {
    display: block;
}

@media screen and (max-width: 767px){
    body{
        padding-top: 60px;
    }
}