
    $main-font: "Roboto", sans-serif;
    $secondary-font: "Raleway", sans-serif;
    $accent-color: #2196F3;
    $title-color: #212121;
    $description-color: #757575;
    $main-light-theme-color:#FFFFFF;
    $buttons-bg-color:#F5F4FA;
    $icons-color: #AFB1B8;
